.container {
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
}

.inputContainer {
  display: grid;
  margin-top: 40%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}

.list li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
}

.list li button,
.list li label {
  align-self: center;
  width: auto;
}
